
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Rubik">
      <link rel="stylesheet" href="../static/css/index.css">

    <title>Collision</title>
    <meta name="description" content="A simple library to take care of complex CSS animations." />
    <!-- <meta property="og:image" content="./assets/screenshot.png" /> -->

  </head>
  <body>

    <div id="wrapper">
      <div id="letters">
        <div class="c">c</div>
        <div class="h">o</div>
        <div class="o">l</div>
        <div class="r">·</div>
        <div class="e">l</div>
        <div class="o">i</div>
        <div class="g">·</div>
        <div class="r">s</div>
        <div class="a">i</div>
        <div class="p">o</div>
        <div class="h">n</div>
        <!-- <div class="e">.</div> -->
        <!-- <div class="r">r</div> -->
        <!-- <div class="dash">-</div>
        <div class="j">j</div>
        <div class="s">s</div> -->

        <br />
        <div class="line"></div>

        <p class="description">
          A Web App that illuminates traffic collision data in Los Angeles.&nbsp;&nbsp;
        </p>
      </div>
      <div class="scroll-overlay"></div>
    </div>

    <div class="links">
      <div class="quickstart">
        <p>Here are your routes:</p>
          <a href="/home">'/home' = Home Page</a>
          <a href="/age">'/age' = Age Visualization</a>
          <a href="/gender">'/gender' = Gender Visualization</a>
          <a href="/descent">'/descent' = Descent Visualization</a>
          <a href="/year">'/year' = Year Visualization</a>
          <a href="/data">'/data' = Data Process</a>
          <a href="/summary">'/summary' = Summary Insight</a>
          <a href="/leaflet">'/leaflet' = Leaflet.js</a>
          <a href="/visuals">'/visuals' = Visuals</a>
          <a href="/api/accidents/2018">'/api/accidents/2018' = Dataset</a>

      </div>
      <a href="home">
        <button class="reference">click here + explore our project</button>
      </a>
    </div>

    <div class="scroll-down">
      <p>scroll down</p>
      <div class="down-arrow"></div>
    </div>

    <script src="../static/js/choreographer.min.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
