<!DOCTYPE html>
<html lang="en">

<!-- PAGE TITLE -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Age Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <title>Age</title> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <script src="../static/js/piePlot.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
</head>

<!-- NAVBAR, NAVBAR BUTTON ON HEADER, CONTAINER-FLUID -->
<body>
   <nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="home">col·li·sion</a>
            </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualize<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                           <li><a href="age">Age</a></li>
                           <li><a href="gender">Gender</a></li>
                           <li><a href="year">Year</a></li>
                           <li><a href="descent">Descent</a></li>
                      </ul>
                   </li>
                      <li><a href="summary">Summary :: Insight</a></li>
                      <li><a href="data">Data :: Process</a></li>
                      <li><a href="leaflet">Interact :: Explore</a></li>
                </ul>
              </div>
            </nav>


<!-- DATA VISUALIZATION FOR GENDER -->
                  <div class="container">
                        <div class="row row-grid">
                            <div class="col-md-8">
                                <div class="box box-left">
                                <section id="intro">
                                    <h5>Victim Year Visualization</h5>

                                        <div id="yearPlot"></div>

                                        <script src="../static/js/plot_year.js"></script>
                                  <p>As we move closer to 2018/present, our collision data shows us that there are more reported traffic accidents then in previous years.
                                  </p>
                                  </section>
                                <!-- </section> -->
                                </div>
                            </div>
<!-- MATRIX OF THUMBNAILS THAT CLICK INTO HTML VISUALIZATION PAGES -->
                            <div class="col-md-4">
                                <div class="box box-right">
                                <h2>Visualizations</h2>
                                <hr>
                                <div class="row" >
                                  <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6"><a href="age"><img class = "img img-responsive" src="../static/assets/age.png" style="width:100%" alt=""></a></div>
                                  <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6"><a href="gender"><img class = "img img-responsive" src="../static/assets/gender.png" style="width:100%" alt=""></a></div>
                                </div>
                                <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6"><a href="year"><img class = "img img-responsive" src="../static/assets/year.png" style="width:100%" alt=""></a></div>
                                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6"><a href="descent"><img class = "img img-responsive" src="../static/assets/descent.png" style="width:100%" alt=""></a></div>
                                </div>
                                </div>
                              </div>


            <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
            </script>
            </body>
            </html>
